*{
    color: white;
    background-color: rgb(7, 44, 32); 
}

p{
    font-size: 17px;
}

li{
    font-size: 17px;
}

aside{
    font-size: 17px;
}

footer{
    background-color: rgb(11, 238, 219);
    color: black;
    font-weight: bold;
    font-size: 18px;
}

#book{
    height: 400px;
    width: 300px;
    float: right;
}

.ai{
    font-weight: 1000;
    font-size: x-large;
}

.aiEnemies{
    border: 3px solid #000000;
    width: fit-content;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    text-align: left;
}

.enemyAi{
    height: 350px;
    width: 25%;
}

.infected{
    padding-left: 65px;
}

.marked{
    padding-left: 65px;
}

.pack{
    padding-left: 65px;
}

.content{
    padding-left: 15px;
}
