*{
    background-color: lightgray;
}

.title h1{
    font: bold;
    font-size: 50px;
    font-family: "Oleo Script Swash Caps", Times, sans-serif;
}

.container-color{
    border: 2px solid gray;
    margin-bottom: 10px;
}

h3{
    padding-left: 20px;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bolder;
}

.color li{
    border: 2px solid transparent;
    border-radius: 15px;
    margin: 10px 5px;
    padding: 100px 180px;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    max-width: 200px;
    min-width: 200px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.color1{
    background-color: #f04d;
}

.color2{
    background-color: #664856;
}

.color3{
    background-color: #2f033c;
}

.color4{
    background-color: #4e7669;
}

.color5{
    background-color: skyblue;
}

.color6{
    background-color: #7a84e6;
}

.container-font{
    border: 2px solid gray;
    margin-bottom: 10px;
}

.font{
    display: inline-flex;
    font-size: 40px;
    margin-left: 50px;
}

.font h4{
    text-decoration: underline;
}

#f1{
    font-family: "Oleo Script Swash Caps";
    font-weight: 100;
}

#f1-2{
    font-family: "Oleo Script Swash Caps";
    font-weight: 400;
}

#f1-3{
    font-family: "Oleo Script Swash Caps";
    font-weight: 900;
}

#f2{
    font-family: "Roboto Mono", Times, sans-serif;
    font-weight: 200;
}

#f2-2{
    font-family: "Roboto Mono", Times, sans-serif;
    font-weight: 500;
}

#f3{
    font-family: "Water Brush", Times, sans-serif;
    font-weight: 100;
}

#f3-2{
    font-family: "Water Brush", Times, sans-serif;
    font-weight: 400;
}

#f3-3{
    font-family: "Water Brush", Times, sans-serif;
    font-weight: 900;
}

.font3 h4{
    display: inline-block;
    margin-left: 50px;
    font-size: 40px;
    text-decoration: underline;
}

.font3 h5{
    margin-left: 50px;
    font-size: 50px;
    line-height: 10px;
}

.container-text{
    border: 2px solid gray;
    margin-bottom: 10px;
}

.container-text h1{
    font-weight: 700;
    font-size: 30px;
    font-family: "Oleo Script Swash Caps", Times, sans-serif;
    margin-left: 50px;
}

.container-text h2{
    font-weight: 500;
    font-size: 18px;
    font-family: "Oleo Script Swash Caps", Times, sans-serif;
    margin-left: 50px;
}

.container-text p{
    margin-left: 50px;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto Mono", Times, sans-serif;
}

.container-text ul{
    margin-left: 50px;
}
